*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
}

:root{
    --primary:#4f46e5;
    --light:#f9fafb;
    --dark:#1f2937;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--dark);
    color: white;
}

.nav-links{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: red;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background: rgb(255, 0, 0);
}

.hero h1{
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1rem;

}

.hero p{
    margin-bottom: 1rem;
}

.cta{
    background: rgb(22, 3, 3);
    color: rgb(249, 241, 241);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;

}

.cta:hover{
    background:white;
    color: rgb(11, 4, 4);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    background: white;
}

.card{
    flex: 1 1 250px;
    padding: 3rem;
    border-radius: 10px;
    background: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(189, 56, 56, 0.1);

}

.card:hover{
    transform: translateY(-5px);
}